@use "variables";
@use "fonts";
@use "typography";
@use "reset";

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	font-family: Comfortaa, cursive;
	font-size: 60px;
	font-weight: 400;
}